.catalogContainer {
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#catalog {
  width: 100%;
  height: calc(100% - 3rem);
  overflow-y: scroll;
  overflow-x: hidden;
  --sb-track-color: #0000;
  --sb-thumb-color: #92492000;
  --sb-size: 6px;
  user-select: none;
}

#addNewEntry {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202020;
  color: #ccc;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  border-top: 1px solid #cccc;
}

#addNewEntry:hover {
  background: #303030;
}

@media (prefers-color-scheme: dark) {
  #catalog {
    background: #202020;
  }
}

@media (prefers-color-scheme: light) {
  #catalog {
    background: #a8a8a8;
  }
}

#passwordView {
  width: calc(100% - 240px);
  height: 100%;
}

#passwordContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#catalog:hover {
  --sb-thumb-color: #924920;
}

#catalog::-webkit-scrollbar {
  width: var(--sb-size);
}

#catalog::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

#catalog::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  border: 1px solid #0000;
}

@supports not selector(::-webkit-scrollbar) {
  #catalog {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}