.viewContainerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.viewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 3rem);
  width: 100%;
  position: relative;
}

.viewTitle {
  font-size: 2.5rem;
  margin: 20px;
  min-height: 3.5rem;
  background: none;
  color: #ccc;
  font-weight: bold;
  text-align: center;
  border: none;
}

.viewSubTitle {
  font-size: 1.5rem;
  margin-top: .5rem;
  min-height: 2rem;
  color: #666;
}

.viewContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.viewItemField {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewContentInput {
  width: 360px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  background: white;
  color: black;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
}

.viewToolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  background: #0001;
}

.viewToolbarItemContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.viewToolbarItem {
  font-size: 1.5rem;
  border: none;
  color: #aaa;
  background: none;
  padding: 0.5rem 1rem;
  user-select: none;
}

.viewToolbarItem:hover {
  color: #fff;
  cursor: pointer;
}